<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unki11.bestorder.order.repository.OrderRepository">

    <resultMap id="OrderResponseMap" type="com.unki11.bestorder.order.dto.OrderResponseDto">
        <id property="orderId" column="order_id" />
        <result property="tableId" column="table_id" />
        <result property="tableName" column="table_name" />
        <result property="orderStatus" column="order_status" />
        <result property="totalAmount" column="total_amount" />

        <collection property="items" ofType="com.unki11.bestorder.order.dto.OrderItemDto" notNullColumn="menu_id">
            <result property="menuId" column="menu_id" />
            <result property="menuName" column="display_menu_name" />
            <result property="quantity" column="quantity" />
            <result property="unitPrice" column="unit_price" />
            <result property="subtotal" column="subtotal" />
            <result property="options" column="options" />
        </collection>
    </resultMap>

    <select id="selectOrderDetails" parameterType="long" resultMap="OrderResponseMap">
        SELECT
        o.order_id,
        o.order_status,
        o.total_amount,
        t.table_id,
        t.table_name,
        oi.menu_id,
        COALESCE(m.menu_name, oi.menu_name) AS display_menu_name,
        oi.quantity,
        oi.unit_price,
        oi.subtotal,
        oi.options
        FROM orders o
        LEFT JOIN order_items oi ON o.order_id = oi.order_id
        LEFT JOIN tables t ON o.table_id = t.table_id
        LEFT JOIN menus m ON oi.menu_id = m.menu_id
        WHERE o.order_id = #{orderId}
    </select>

    <insert id="insertOrder" parameterType="com.unki11.bestorder.order.dto.OrderRequestDto" useGeneratedKeys="true" keyProperty="orderId">
        INSERT INTO orders (table_id, store_id, order_number, order_status, total_amount, order_time)
        VALUES (#{tableId}, #{storeId}, #{tableId}, '0', #{totalAmount}, CURRENT_TIMESTAMP)
    </insert>

    <update id="updateOrder" parameterType="com.unki11.bestorder.order.dto.OrderRequestDto">
        UPDATE orders
        SET total_amount = #{totalAmount}
        WHERE order_id = #{orderId}
    </update>

    <delete id="deleteOrderItemsByOrderId" parameterType="long">
        DELETE FROM order_items WHERE order_id = #{orderId}
    </delete>

    <insert id="insertOrderItems" parameterType="java.util.List">
        INSERT INTO order_items (
        order_id, menu_id, menu_name, quantity, unit_price, subtotal, options, created_at
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.orderId}, #{item.menuId}, #{item.menuName}, #{item.quantity},
            #{item.unitPrice}, #{item.subtotal}, IFNULL(#{item.options}, ''), CURRENT_TIMESTAMP
            )
        </foreach>
    </insert>

</mapper>